.oe-updates {
  padding-top: 100px;
  padding-bottom: 143px;
}

.oe-u-content {
  padding: 40px 5px;
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow-x: auto;
}

.oe-uc-wrapper {
  padding: 50px;
  border-radius: 10px;
  min-width: 300px;
}

.oe-uc-wrapper .oe-heading-1 {
  text-align: left;
}

.oe-uc-wrapper:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  background: #fdaf4d;
  box-shadow: -5px 4px 50px 0px #0000001a;
}

.oe-uc-w-description {
  padding-top: 21px;
}

.oe-uc-council {
  box-shadow: -5px 4px 50px 0px #0000001a;
  padding: 15px;
  border-radius: 10px;
  gap: 10px;
  min-width: 300px;
  height: 500px;
}

.oe-ucc-branch {
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  text-align: center;
  gap: 26px;
  height: 50%;
}

.oe-ucc-certification {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #226cf5;
  height: 50%;
  padding-top: 40px;
}

.oe-ucc-c-date {
  color: #64647a;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

@media screen and (max-width: 1200px) {
  .oe-uc-wrapper, .oe-uc-council{
    flex: 1;
    min-width: 270px;
  }
  .oe-uc-wrapper {
    padding-left: 30px;
    padding-right: 30px;
    min-width: 240px;
  }
  .oe-u-content {
    justify-content: flex-start;
  }
  .oe-updates {
    padding-top: 75px;
    padding-bottom: 68px;
  }
}
